<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="inner clearfix">
                    <div class="footer-social-links float-left">
                        <ul class="sociallinks-style-one">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> Fanpage</li>
                        </ul>
                    </div>
                    <div class="copyright-text text-center">
                        <p>© <a href="#">Y Tế</a> 2024 - Website Đặt Lịch Khám Online.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
